dist: xenial
language: python
cache: pip
notifications:
  email: false

python:
- 3.6.7

install:
- pip install -r requirements.txt
- pip install pytest

script:
- pytest

jobs:
  include:
    - name: "Python 3.6.7 on Xenial Linux"
      python: 3.6.7           # this works for Linux but is ignored on macOS or Windows
    - name: "Python 3.6.5 on macOS"
      os: osx
      osx_image: xcode9.4  # Python 3.6.5 running on macOS 9.4
      language: shell       # 'language: python' is an error on Travis CI macOS
      addons:
        homebrew:
        packages: python3
      before_install:
        - pip3 install virtualenv
        - virtualenv -p python3 ~/venv
        - source ~/venv/bin/activate
    - name: "Python 3.6.7 on Windows"
      os: windows           # Windows 10.0.17134 N/A Build 17134
      language: shell       # 'language: python' is an error on Travis CI Windows
      before_install:
        - choco install python --version 3.6.7
        - python -m pip install --upgrade pip
      env: PATH=/c/Python36:/c/Python36/Scripts:$PATH

    - stage: PyPi Deployment
      if: tag IS present
      python: 3.6.7
      env:
        - DEPLOYING=true
      deploy:
        - provider: pypi
          # Your distributions here
          distributions: sdist bdist_wheel
          user: your-pypi-username
          password:
            #run 'travis encrypt your-api-token --add deploy.password' and paste the resulting key in here
            secure: secure-key-goes-here
          #After your tests ran and before the release, Travis CI will clean up any additional files and changes you made.
            skip_cleanup: true
          on:
            #The full repoName goes here e.g. 'kushalkolar/MESmerize'
            repo: repoName
            #tell Travis CI to only deploy on tagged commits
            tags: true
