include mesmerize/VERSION
include LICENSE
include README.md
include CHANGELOG.md
include banner.png
include requirements.txt
recursive-include mesmerize/common/icons/ *
recursive-include mesmerize/plotting/colormaps/ *
