numpy~=1.18
cycler==0.10.0
Cython==0.29.20
dask==1.1.1
future==0.18.2
h5py==2.10.0
ipykernel~=4.10
ipython==7.15.0
ipyparallel==6.3
MarkupSafe==1.1.1
matplotlib==3.2.2
opencv-contrib-python~=4.2
opencv-python~=4.2
pandas==0.25.3
Pillow==5.4.1
psutil==5.7.0
PyQt5==5.9.2
python-dateutil~=2.8.0
QtPy==1.6.0
scikit-image==0.17.2
scikit-learn==0.20.2
scipy==1.2.1
seaborn==0.9.0
spyder==3.3.3
tifffile==0.15.1
tqdm==4.37.0
PeakUtils
tables==3.6.1
joblib==0.15.1
tslearn==0.2.2
graphviz==0.13
numba==0.50.0
bottleneck==1.2.1
holoviews
jupyter
pynwb
pyqtgraph
tensorflow~=1.15
tk
tcl
yapf
qtap

